.results {
    // @include default-page-layout();
    height: 100vh;
    width: 66vw;
    display: grid;

    margin-top: 52px;
    row-gap: 40px;
}

.results-posts {
    display: grid;
    row-gap: 21px;
   .results-posts__wrapper {
   
    .results-posts__posts {
        display: grid;
        row-gap: 20px;
        justify-content: stretch;
    }

   }
    
}

.result-post {

    display: grid;
    align-content: space-around;
    row-gap: 22px;
    
    .result-post__topics > * {
        color: $color-blue-one;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }

    .result-post__title a {
        color: $color-gray-one;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
    }

    .result-post__links {
        
    }
}

.post-link {
    min-height: 70px;
    display: flex;
    color: $color-gray-three;
    
    .post-link__box {
        min-width: 70px;
        background-color: $color-gray-two;
        margin-right: 60px;
    }

    .post-link__link a {
        text-decoration: none;
        color: $color-gray-one;
        font-size: 14px;
        line-height: 17px;
    }
}